@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.625vw;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 12.5vh;
  position: fixed;
  top: 0;
  z-index: 500;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2%;
}

.menu li {
  width: auto;
  height: 100%;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu li a {
  letter-spacing: 0.5rem;
  line-height: 2.5rem;
}

.menu li a:nth-child(2) {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.menu li:nth-child(3) {
  font-size: 1.75rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.menu_txt {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

#main_view {
  width: 100%;
  height: 100vh;
  position: relative;
}

#main_view img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -500;
}

#main_view .text_line {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#main_view .text_line h2 {
  font-size: 6vw;
  color: white;
  line-height: 12rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#main_view .text_line .em {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 900;
  font-style: italic;
}

#main_view .text_line span {
  line-height: 13rem;
  font-size: 1.8rem;
  color: white;
}

#introduce {
  width: 100%;
  height: 500vh;
  position: relative;
  background-color: white;
}

#introduce .guide_img1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduce .guide_img1 .guide_img_box1 {
  width: 30vw;
  height: 55vh;
  background-color: red;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

#introduce .guide_img2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#introduce .guide_img2 .guide_img_box2 {
  width: 32.5vw;
  height: 80vh;
  background: #b3d4fc;
  margin-right: 5%;
  -webkit-transition: 0.5s ease-int;
  transition: 0.5s ease-int;
}

.guide {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 25vh;
  padding: 4% 2.5%;
}

.guide h4 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 3.5vw;
  position: relative;
  margin-bottom: 0.75%;
  margin-top: -2.5%;
}

.guide p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.1vw;
  line-height: 4.75vh;
}

.guide a {
  display: inline-block;
  width: auto;
  padding: 0.75% 1%;
  border: 0.3rem solid black;
  border-radius: 5rem;
  margin: 1% 0;
  text-align: center;
  font-size: 1.25vw;
  color: black;
}

.guide_big_box {
  width: 100%;
  height: 80%;
  position: relative;
  padding-top: 20vh;
}

.guide_big_box h2 {
  font-size: 11vw;
  line-height: 18rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.guide_big_box .left_h {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20vh;
}

.guide_big_box .center_h {
  position: absolute;
  right: 50%;
  top: 37.5vh;
}

.guide_big_box .right_h {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  top: 55vh;
}

#hotell_more {
  width: 100%;
  height: 700vh;
  position: relative;
  top: 0;
  overflow: hidden;
}

#hotell_more .slide {
  width: 500vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -500;
}

#hotell_more .slide li {
  width: 100%;
  height: 100vh;
  color: white;
}

#room {
  width: 100%;
  height: 150vh;
  background-color: blue;
  padding: 7% 2%;
}

#room .room_txt {
  width: 50%;
  height: auto;
  background-color: green;
}

#room .room_txt li {
  line-height: 50px;
}

.room_list {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room_list li {
  width: 32.5%;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.room_list li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room_list li:first-child .room1 {
  width: 100%;
  height: 650px;
  background-color: aquamarine;
}

.room_list .room2 {
  width: 100%;
  height: 406px;
  background-color: #555;
  position: absolute;
  top: 25%;
}

.room_list .room3 {
  width: 100%;
  height: 806px;
  background-color: #999;
}

#shilla {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4% 2%;
}

.detail {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail .detail_txt {
  height: 50%;
  background-color: #999;
}

.detail .detail_bot {
  height: 50%;
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.detail .detail_bot ul {
  width: 50%;
  height: 100%;
  border: 1px solid green;
}

.shilla_view {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

footer {
  width: 100%;
  height: 400px;
  background-color: #999;
}

.black {
  color: black;
}

.white {
  color: white;
}

.fix {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

.op {
  opacity: 1;
}

.op_2 {
  opacity: 0.2;
}
